<html>
    <head>
        <title>Laser Log</title>
    </head>
    <style>
        #title {
            text-align: center;
        }
        .center {
            margin: auto;
            width: 600px;
            border: 5px solid #FFFF00;
            padding: 10px;
        }
    </style>
    <body>
        <div class="center">
            <div id="title">
                <h2>Laser Log - Stratum0</h2>
            </div>
            <p><b> Laserzeit: {{time}}</b></p>
            <p><b> Nutzer: {{user}}</b></p>
        </div>
    </body>
</html>